body {
    background-color: rgb(98, 152, 47);
    /*
    margin: 0;
    padding: 0;
    */
}

.bebas-neue {
    font-family: "Bebas Neue", sans-serif;
    /*font-weight: 400;*/
    font-style: normal;
}

.bungee-tint {
    font-family: "Bungee Tint", sans-serif;
    /*font-weight: 400;*/
    font-style: normal;
}

h1 {
    color: rgb(185, 23, 101);
    font-size: 3em;
}